.container {
  display: flex; /* or inline-flex */
}

.vert-container {
  display: flex;
  flex-direction: column;
}

.results-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 40vh;
}